@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source '../../../../src/**/*.md';
@source '../../**/*.{vue,ts}';

@theme {
    --color-laravel: #F05340;
    --color-laravel-light: #ec6859;
    --color-laravel-dark: #d13c2b;
}

:root {
    scroll-behavior: smooth;
}

/* improves some of the default prose settings, also an example of how to customize it */
.prose {
    max-width: 100%;
}

.prose code {
    padding: 0 0.25rem;
    border-radius: 0;
}

.prose code::before,
.prose code::after {
    content: "" !important;
}

.prose pre {
    border-radius: 0;
    margin: 0;
}